<% layout("/layouts/boilerplate.ejs") -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit Listing</h3>
        <form action="/listings/<%=list._id%>?_method=PUT" 
            class="needs-validation" 
            method="POST" 
            novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <lable for="Title" class="form-label">Title</lable>
                <input name="listing[title]" type="text" required value="<%=list.title%>" class="form-control">
                <div class="valid-feedback">Title is op!</div>
                <div class="invalid-feedback">Title is required!</div>
            </div>
            <div class="mb-3">
                <lable for="Description" class="form-label">Description</lable>
                <textarea name="listing[description]" required class="form-control"><%=list.description%></textarea>
                <div class="valid-feedback">Description is op!</div>
                <div class="invalid-feedback">Description is required!</div>
            </div>
            <div class="mb-3">
                <lable for="Image" class="form-label">Image</lable>
                <input name="listing[image]" type="file" class="form-control">
                <div class="valid-feedback">Image-Link is op!</div>
                <div class="invalid-feedback">Image-Link is required!</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <lable for="Price" class="form-label">Price</lable>
                    <input name="listing[price]" type="number" required class="form-control" value="<%=list.price%>">
                    <div class="valid-feedback">Price is op!</div>
                    <div class="invalid-feedback">Price is required!</div>
                </div> 
                <div class="mb-3 col-md-8">
                    <lable for="Country" class="form-label">Country</lable>
                    <input name="listing[country]" type="text" required class="form-control" value="<%=list.country%>">
                    <div class="valid-feedback">Country is op!</div>
                    <div class="invalid-feedback">Country is required!</div>
                </div>
            </div>
            <div class="mb-3">
                <lable for="Location" class="form-label">Location</lable>
                <input name="listing[location]" type="text" required class="form-control" value="<%=list.location%>">
                <div class="valid-feedback">Location is op!</div>
                <div class="invalid-feedback">Location is required!</div>
            </div>
            <button class="btn btn-dark edit-btn mt-3">EDIT</button>
        </form> 
        <br>
    </div>
</div>   